
//patterns
@import 'base/size';

// base 
@import 'base/shared'; 

//elements
@import 'elements/buttons'; 
@import 'elements/scroll-bar'; 

//tamplate
@import 'template/mobile-menu';
@import 'template/header'; 
@import 'template/pagination'; 
@import 'template/section-1_main'; 
@import 'template/section-2_why'; 
@import 'template/section-4_team'; 
@import 'template/section-5_menu'; 
@import 'template/section-6_comment'; 
@import 'template/section-7_work'; 
@import 'template/section-8_form'; 
@import 'template/footer'; 
@import 'template/media-768';   
@import 'template/media-480';    