.button{
  cursor: pointer;
  transition: .4s;
  padding: 1.2188rem 2.1875rem;
  border-radius: 32px;  
  font-family: $font;
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase; 
  border: 0;
  line-height: normal;
  // outline: none;
    &:hover{
      transition: .4s;
      color: #00abce;
    }
    &:active{
      color: #000;
    }
    &:focus{
       color: #000; 
    }
}
.button--main{
  color: $green;
  background-color:$white;
  box-shadow: 7px 7px 30px 0px #4aa1b4;
  font-weight: 800;
}

//button sec8 form
.button--submit{
  background-color: $green;
  color: $white;
  margin-right: 10px;
    &:hover{
      background-color: $white;
      color: $green;
      transition: .4s;
    }
}
.button--reset{
  background-color: transparent;
  color: $green;
  font-size: 1.125rem;
  text-transform: none;
    &:hover{
      // background-color: $white;
      color: $green;
      text-decoration: underline;
      transition: .4s;
    }
}
.button--modal{
  background-color: $green;
  color: $white;
  border: 1px solid transparent;
    &:hover{
      background-color: $white;
      color: $green;
      border: 1px solid $green;
      transition: .4s;
    }
}

