.header{
  padding: 1.5625rem 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
}
.menu__item{  
  margin-right: 1.5625rem;
  transition: .4s;
  
    &:last-child{
      margin-right: 0;
    }
    
    &:hover .menu__link{
      transition: .4s;
      border-bottom: 2px solid #ffffff;
    }
}
.menu__link{
  border: 2px solid transparent;
}
.number{
  display: inline-block;
  border: 2px solid transparent;
  background-image: url(../images/sec1/phone.svg);
  background-repeat: no-repeat;
  background-size: 0.75rem 0.6875rem;
  background-position: center left;
  padding-left: 1.125rem;
  transition: .4s;
    &:hover{
      transition: .4s;
      border-bottom: 2px solid #ffffff;
    }
}

.menu__link, .number__link{
  color: $white;
  font-family: $font;
  font-size: 1.125rem;
  font-weight: 400; 
}

.number__link{  
  font-size: 1.5rem;
  text-transform: uppercase;  
} 
.burger{
  display: none;
}