.header{
  padding: 1.5625rem 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
}
.menu__item{  
  margin-right: 1.5625rem;
  transition: .4s;
  
    &:last-child{
      margin-right: 0;
    }
    
    &:hover .menu__link{
      transition: .4s;
      border-bottom: 2px solid #ffffff;
    }
}
.menu__link{
  border: 2px solid transparent;
}
.menu__link, .number{
  color: $white;
  font-family: $font;
  font-size: 1.125rem;
  font-weight: 400; 
}

.number{  
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: .4s;
  border: 2px solid transparent;
  
    &:before{
      content: "";      
      display: inline-block;
      margin-right: 6px;  
      width: 0.75rem;
      height: 0.6875rem;
      background-image: url(../images/sec1/phone.svg);
      background-repeat: no-repeat;
    }
    &:hover{
      transition: .4s;
      border-bottom: 2px solid #ffffff;
    }
} 
.burger{
  display: none;
}