@media(max-width: 1100px){
  .menu__link, .number{
    font-size: 1.5vw;
  }  
}

@media(max-width: 768px){
  // html{
  //   font-size: 15px;
  // }
  .menu, .number{
    display: none;
  }
  .burger{
    display: block;
  }
  .pagination{
    display: none;
  }
  .content-common{
    flex-direction: column;
    text-align: center;
  }
  .bar{
    order: -1;
    position: relative;
      &::after{
        content: url(../images/sec1/berry_768.png);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
      &::before{
        content: url(../images/sec1/leaf_768.png);
        position: absolute;
        bottom: 0;
        left: -4%;
        z-index: 1;
      }
  }
  .title{
    margin-bottom: 2.5rem;
  }
  .title--main{
    text-align: center;
    margin-bottom: 0.9375rem;
  }
  .main__list{
    text-align: left;
  }
  .advantage{
    width: 100%;
    max-width: 34.375rem; 
    margin: 0 auto;
  }
  .advantage__text br{
    display: none;
  }
  // 
  .section-center{
    max-width: 460px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .why{
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
  }
  .why__item::before{
    display: none;
  }
  .why__item{
    margin: 0 0 2.1875rem 0;
  }
  .why__item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }
   //
  .section-center--team{
    max-width: 480px;
  }
  .team{
    flex-wrap: wrap;
  }
  .team__common{
    width: calc(50% - 1.25rem);
    margin-right: 0;
    margin-bottom: 2.1875rem;
  }
  //
  .accordeon{
    width: 100%;
  }

  //
  .comment__content-main{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto 1.875rem;
    padding: 16% 3% 5%;
    background-size: 25%;
  }
  .comment__avatar{
    margin: 0 0 1.875rem 0;
    width: 50%;
    height: 50%;
  }

  //
  .section-center--form{
    max-width: 550px;
  }
  .form{
    flex-wrap: wrap;
  }
  .form__column{
    margin-right: 0;
    width: 100%;
  }
  .form__column:first-child{
    margin-bottom: 0.9375rem;
  }
  .form__button{
    text-align: center;
  }

  //
  .form__row-mb{
    flex-direction: row;
  }
  .form__radio-label{
    margin-right: 0;
    width: 50%;
    justify-content: center;
  }
  .form__chec-label{
    justify-content: center;
  }
  .form__textarea{
    margin-bottom: 2.5rem;
  }








}
@media(max-width: 480px){
  .title{
    font-size: 2.5rem;
  }

}