@media(max-width: 1100px){
  .menu__link, .number{
    font-size: 1.7vw;
  }  
}


@media screen and (max-width: 980px){
  html{
    font-size: 15px;
  }
  .comment__content-main{
    background-size: 13vmin;
  }
  .section-main::after{
    width: 23.75rem;
    height: 17.3125rem;
  }
  .section-work::before{
    top: -16vw;
  }
}

@media screen and (max-width: 768px){
  html{
    font-size: 13px;
  }
  .title{
    margin-bottom: 4vmin;
  }
  .menu, .number, .pagination{
    display: none;
  }
  .burger{
    display: block;
  }
  ////////////////// main
  .section-main::after, .section-main::before{
    display: none;
  }
  .section-main{
    background-position: right 12%;
    background-size: 34.6875rem;
  }
  .content-common{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  // .center--main {
  //   top: calc(50% - 7.75rem);
  // }

  .main{
    width: 100%;
    // max-width: 40.625rem;
    margin: 0 auto;
    text-align: center;
  }
  .bar{
    order: -1;
    position: relative;
    width: 70vw;
    height: 27.5rem;
    margin-bottom: 3vmin;

      &::before{
        content: '';
        width: 23.25rem;
        height: 15.75rem;
        background-image: url(../images/sec1/768.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 0;
        left: 14vw;
        z-index: 1;
      }
  }
  .bar__img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .title--main{
    text-align: center;
    margin-bottom: 1vmin;
    line-height: normal;
  }
  .main__subtitle{
    font-size: 21px;
    font-weight: 300;
  }
  // .advantage__text br{
  //   display: none;
  // }
  .advantage{
    display: none;
  }

  /////////////////// why

  //  .container--why{
  //    max-width: 26.25rem;
  //  }

  // .why{
  //   flex-wrap: wrap;
  // }

  // .why__item{
  //   margin-right: 0;
  //   margin-bottom: 10vmin;
  //     &:last-child{
  //       margin-bottom: 0;
  //     }
  //   }

  .why__item::before{
    content: none;
  }

  .why__icon{
    margin-bottom: 2vmin;
  }
  .title--why{
    margin-bottom: 5vmin;
  }
  .section-why{
    background-position: 0 17%;
  }

  //////////// slider

  .section-slider::before{
    top: -23vw;
  }

  .slider__item{
    flex-direction: column;
    text-align: center;
  }
  .slider__left{
    width: 100%;
    margin-right: 0;
  }
  .slider__right{
    width: 100%;
  }
  .title--slider{
    text-align: center; 
    margin-bottom: 2vmin;      
  }
  .ingredients{
   display: none;
  }
  .slider__subtitle{
    max-width: 36.625rem;
    margin: 0 auto 3vmin;
  }
 
  .slider__price{
    justify-content: center;
  }
  .clider__calories{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 4vmin;
  }
  .clider__calories-inner{
    margin-right: 7vw;
  }

  .slider__img img{
    width: 88%;
  }
  .container--slider{
    width: 70%;
  }

  .slider__arrow{
    top: 43%;
  }

  //////////// team
  .section-team{
    background-size: 9.6875rem 14.4375rem;
  }
  .container--team{
    max-width: 20rem;
  }
  .team{
    flex-direction: column;   
  }
  .team__common{    
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 2vmin;
      &:last-child{
        margin-bottom: 0;
      }    
  }
  
  .team__foto{
    display: none;
    padding-top: 2vmin;
   
  }

  .team__title{
    font-size: 4vw;
    margin-bottom: 0.5vmin;
    order: -1;
  }

  .team__hiden-title{
    font-size: 3.2vw;
    font-weight: 600;
    margin-bottom: 1vmin;
  }
  
  .team__common--active{

    .team__foto--open{
      display: block;
    }
}

  //////// menu
  .accordeon__section.active .accordeon__content{
    width: 100%;
  }
  
  .accordeon__content-text{
    font-size: 1rem;
    padding: 6.0625rem 1.875rem 1.875rem;
  }

  ///////////////////  comment
  .section-comment::before{
    right: 0;
  }
  .container--comment{
    max-width: 100%;
  }
  .comment__item{
    flex-direction: column;
    text-align: center;
  }
  .comment__avatar{
    margin-right: 0;
    width: 9.1875rem;
    height: 9.1875rem;
  }
  .comment__content-main{
    background-size: 10vmin;
  }
  .comment__img{
    margin-bottom: 2vmin;
  }
  .comment__content-main{
    padding: 4rem;
  }
  .comment__content-title{
    margin-bottom: 1vmin;
  }
  .comment__content-text{
    margin: 0 auto 4vmin;
    max-width: 100%;
  }
  ///////// form
  .section-form::after, .section-form::before{
    display: none;
  }
  .center--form{
    max-width: 31.25rem;
    margin: 0 auto;
  }
  .form{
    flex-direction: column;
  }
  .form__column{
    margin-right: 0;
    width: 100%;
    margin-bottom: 3vmin;
      &:last-child{
        margin-bottom: 0; 
      }
  }
  
  .form__button{
    text-align: center;
  }
  //////////// map
  .number--green{
    display: inline-block;
  }




}
