@media screen and (max-width: 650px){
  .player{
    max-width: 24rem;
  }
  .player__splash{
    width: 4.125rem;
  }
  .player__controls{
    padding: 0 0.625rem;
  }
  .player__playback{
    width: 14.7rem;
  }
}
@media screen and (max-width: 480px){
  .modal{
    padding: 1.375rem 1.75rem;
  }
  .modal__title{
    margin-bottom: 10px;
  }
  html{
    font-size: 11px;
  }
  .title{
    font-size: 8.5vw;
    margin-bottom: 10vmin;
  }
  /////////// main
  .bar{
    width: 76vw;
    height: 21.5rem;
    margin-bottom: 0;
    top: -21vmin;
  }
  .bar::before{
    left: 0;
  }
  .main{
    position: relative;
    top: -8vmin;
  }
  .title--main{
    font-size: 8vw;
    margin-bottom: 1vmin;
  }
  .main__subtitle{
    font-size: 3.3vw;
    margin-bottom: 4vw;
  }
  .advantage__text br{
    display: block;
  }
  .advantage__item{
    justify-content: flex-end;
    margin-right: 1rem;
  }
  ///////// why
   
  .why{
    flex-wrap: wrap;
  }

  .why__item{
    margin-right: 0;
    margin-bottom: 10vmin;
      &:last-child{
        margin-bottom: 0;
      }
    }

  .section-why{
    background: none;
  }
  .container--why{
    max-width: 100%;
  }
  .why__item{
    display: flex;
    text-align: left;
  }
  .why__icon{
    flex-shrink: 0;
    margin-right: 3vmin;
  }
  //////// slider

  .section-slider::before{
    display: none;
  }
  .title--slider{
    font-size: 7.5vw;
    margin-bottom: 5vmin;
     
      br{
         display: block;
       }
  } 
  .container--slider{
    width: 95%;
  }
  .slider__arrow{
    top: 34%;
  }

  //////// team
  .team__foto{
    width: 42%;
    margin: 0 auto 0.3rem;
  }
  .team__title{
    font-size: 5vw;
  }
  // .team__hiden-title{
  //   font-size: 4vw;
  // }
  .section-team::before{
    width: 4.125rem;
    height: 4.125rem;
  }
  .section-team::after{
    width: 4rem;
    height: 4.5rem;
  }

  //////// menu
  .accordeon__title{
    min-width: 4rem;
  }
  .accordeon__section.active{
    width: 100%;
    flex-shrink: 0;
    // order: 1;
  }

  //////// comment
  .section-comment::before{
    width: 6.375rem;
    height: 4.375rem;
  }
  .section-comment::after{
    width: 7rem;
    height: 10.0625rem;
    bottom: -11vw;
  }
  .comment__content-main{
    background-size: 24vmin;
    padding: 3.125rem 0;
  }
  .container--comment{
    max-width: 100%;
  }
  .comment__avatar{
    width: 7.8125rem;
    height: 7.8125rem;
  }
  .comment__content-title {
    max-width: 15.625rem;
    margin: 0 auto 1vmin;
  } 

  ///////// work
  .section-work::before{
    width: 4.375rem;
    height: 12.0625rem;
  }
  .section-work:after{
    width: 6.5rem;
    height: 10.5rem;
  }

  ///////// form
  .title--form{
    margin-bottom: 2vmin;
  }
  .center--form{
    max-width: 100%;
  }
  .form__row-mb{
    max-width: 30rem;
    margin: 0 auto;
  }
  .form__row-mb, .form__chec-label{
    justify-content: center;
  }

  /////////// map
  .container--footer{
    flex-direction: column;
  }
  .footer__left, .footer__right{
    width: 100%;
    text-align: center;
  }
  .footer__right{
    justify-content: center;
  }
  .footer__left, address{
    margin-bottom: 2vmin;
  }
  




}
