@media(max-width: 1100px){
  .menu__link, .number{
    font-size: 1.7vw;
  }  

  .section-main::after{
    top: 53%;
  }
  .section-main::before{
    bottom: -4%;
  }
}
@media screen and (max-width: 980px){
  html{
    font-size: 15px;
  }
}
@media screen and (max-width: 768px){
  .title{
    margin-bottom: 4vmin;
  }
  .menu, .number, .pagination{
    display: none;
  }
  .burger{
    display: block;
  }
  //////////////////
  html{
    font-size: 13px;
  }
  .content-common{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .main{
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    text-align: center;
  }
  .bar{
    order: -1;
    position: relative;
    width: 70vw;
    height: 27.5rem;
    margin-bottom: 10vmin;
  }
  .bar-img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .title--main{
    text-align: center;
  }
  .advantage__text br{
    display: none;
  }
  ///////////////////
   .container--why{
     max-width: 26.25rem;
   }
  .why{
    flex-wrap: wrap;
  }
  .why__item{
    margin-right: 0;
    margin-bottom: 3vmin;
      &:last-child{
        margin-bottom: 0;
      }
    }
    
  .why__item::before{
    content: none;
  }
  .why__icon{
    margin-bottom: 2vmin;
  }
 

  




}
