@media screen and (max-width: 480px){
  html{
    font-size: 11px;
  }
  .title{
    margin-bottom: 10vmin;
  }
  ///////////
  .bar{
    width: 76vw;
    height: 21.5rem;
    margin-bottom: 0;
    top: -21vmin;
  }
  .main{
    position: relative;
    top: -8vmin;
  }
  .title--main{
    font-size: 8vw;
  }
  .main__subtitle{
    font-size: 3.3vw;
    margin-bottom: 2.8vw;
  }
  .advantage__text br{
    display: block;
  }
  .advantage__item{
    justify-content: flex-end;
    margin-right: 1rem;
  }
  ///////// 
  .section-why{
    background: none;
  }
  .container--why{
    max-width: 100%;
  }
  .why__item{
    display: flex;
    text-align: left;
  }
  .why__icon{
    flex-shrink: 0;
    margin-right: 3vmin;
  }
  ////////
  .container--team{
    max-width: 100%;
  }
  ////////
  .comment__content-main{
    background-size: 24vmin;
  }
  .container--comment{
    max-width: 100%;
  }
  // .comment__content-text{
  //   max-width: 25rem;
  // }
  .comment__avatar{
    width: 7.8125rem;
    height: 7.8125rem;
  }
  .comment__content-title {
    max-width: 230px;
    margin: 0 auto;
  } 






}
