@media(max-width: 1100px){
  .menu__link, .number{
    font-size: 1.7vw;
  }  

  .section-main::after{
    top: 53%;
  }
  .section-main::before{
    bottom: -4%;
  }
}
@media screen and (max-width: 980px){
  html{
    font-size: 15px;
  }
  .comment__content-main{
    background-size: 13vmin;
  }
}
@media screen and (max-width: 768px){
  html{
    font-size: 13px;
  }
  .title{
    margin-bottom: 4vmin;
  }
  .menu, .number, .pagination{
    display: none;
  }
  .burger{
    display: block;
  }
  ////////////////// main
  
  .content-common{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .main{
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    text-align: center;
  }
  .bar{
    order: -1;
    position: relative;
    width: 70vw;
    height: 27.5rem;
    margin-bottom: 10vmin;
  }
  .bar-img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .title--main{
    text-align: center;
  }
  .advantage__text br{
    display: none;
  }
  /////////////////// why
   .container--why{
     max-width: 26.25rem;
   }
  .why{
    flex-wrap: wrap;
  }
  .why__item{
    margin-right: 0;
    margin-bottom: 3vmin;
      &:last-child{
        margin-bottom: 0;
      }
    }

  .why__item::before{
    content: none;
  }
  .why__icon{
    margin-bottom: 2vmin;
  }
  //////////// team
  .container--team{
    max-width: 34rem;
  }
  .team{
    flex-wrap: wrap;
    margin-right: -2vmin;
  }
  .team__common{
    width: calc(50% - 2vmin );
    margin-right: 2vmin;
    margin-bottom: 3vmin;
      &:last-child{
        margin-right: 2vmin;
      }
  }
  .team__foto{
    margin-bottom: 2vmin;
    height: 30vmax;
  }
  .team__title{
    margin-bottom: 0.5vmin;
  }

  //////// menu
  .accordeon__section.active .accordeon__content{
    width: 100%;
  }
  .accordeon__content-text{
    font-size: 1rem;
  }

  ///////////////////  comment
  .container--comment{
    max-width: 28.75rem;
  }
  .comment__item{
    flex-direction: column;
    text-align: center;
  }
  .comment__avatar{
    margin-right: 0;
  }
  .comment__content-main{
    background-size: 10vmin;
  }
  .comment__img{
    margin-bottom: 2vmin;
  }
  .comment__content-main{
    padding: 4rem;
  }
  .comment__content-title{
    margin-bottom: 1vmin;
  }
  .comment__content-text{
    margin: 0 auto 4vmin;
  }
  ///////// form
  .center--form{
    max-width: 30rem;
    margin: 0 auto;
  }
  .form{
    flex-direction: column;
  }
  .form__column{
    margin-right: 0;
    width: 100%;
  }
  .form__row-mb, .form__chec-label{
    justify-content: center;
  }
  .form__button{
    text-align: center;
  }
  //////////// map
  .number--green{
    display: inline-block;
  }




}
