.modal{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.modal__wrap{  
  background-color: $white;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 38px 60px;
}

.modal__content{
  color: $black;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8781rem;
  text-align: center;
}
.modal__text{
  margin-bottom: 20px;
}