.pagination{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
  z-index: 999;
}
.pagination__item{
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: border .4s;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      border: 1px solid $green;
      transition: border .4s;

        .pagination__link{
          background-color: $green;
          transition: background-color .4s;
        }
    }
}

.pagination__link{
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $white;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: background-color .4s;
}

.pagination__item--active{
  border: 1px solid $white;
}