.section-work{
  background-color: $bg;

    &::before{
      content: url(/images/sec7/leaf_pattern.png);
      position: absolute;
      left: 0;
      top: -25%;
      z-index: 2  ;
    }

    &:after{
      content: url(/images/sec7/blackberry.png);
      position: absolute;
      right: 0;
      bottom: -14%;
      z-index: 1;
    }
}
.work{
  position: relative;
  width: 100%;
  max-width: 660px;
  height: 100%;
  margin: 0 auto;
    
  &::before{
    content: url(/images/sec7/leaf_left.png);
    position: absolute;
    width: 72px;
    height: 135px;
    bottom: -50px;
    left: -140px;
    z-index: 1;
  }
  &::after{
    content: url(/images/sec7/leaf_right.png);
    position: absolute;
    width: 90px;
    height: 77px;
    top: -50px;
    z-index: 1;
  }
}
.work__video{
  position: relative;
  width: 100%;
  height: 370px;
  cursor: pointer;
}