.section-form{
  background-image: url(../images/sec8/pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form{
  display: flex;
  flex-wrap: wrap;
}
.form__column{
  flex-wrap: wrap;
  width: calc(50% - 20px);
  margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
}
.form__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.0625rem;
    &:last-child{
      margin-bottom: 0;    
    }
}
.form__label{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-right: 1.25rem;
    &:last-child{
      margin-right: 0;
    }
}
.form__subtitle{
  color: $green;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.3;
}
.form__input{
  width: 100%;
  height: 3.75rem;
  background-color: #ffffff;
  padding: 0 10px;
}
.form__input:focus{
  border: 3px solid #dde3bd;
}
.form__textarea{
  min-height: 11.25rem;
  padding-top: 0.3125rem;
}
.form__radio-label, .form__chec-label{
  display: flex;
  align-items: center;
}
.form__radio-label{
  margin-right: 1.25rem;
}
.form__chec-label{
  margin-top: 0.5rem;
  flex: 1;
}
.form__radio-custom{
  position: relative;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 0.625rem;
  flex-shrink: 0;
    &::after{
      content: '';
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background-color: $green;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
.form__radio-input:checked + .form__radio-custom::after{
  width: 0.8125rem;
  height: 0.8125rem;
}
.form__chec-custom{
  position: relative;
  display: inline-block;
  width: 1.625rem;
  height: 1.625rem;
  background-color: #ffffff;
  margin-right: 0.625rem;
    &::after{
      content: "";
      background-image: url(../images/sec8/check.svg);
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
.form__chec-input:checked + .form__chec-custom::after{
  width: 0.6875rem;
  height: 0.5625rem;
}
.form__button{
  margin-top: 2.5rem;
}
.form__row-mb{
 display: flex;
 flex-wrap: wrap;
 flex: 1;
 padding-top: 0.1875rem;
}
