.section-main{
  background-color: #61c4d9;
  background-image: url(../images/sec1/section-background.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;  
    // &::after{
    //   content: url(../images/sec1/berry.png);
    //   position: absolute;
    //   bottom: -7vh;
    //   right: 14vw;
    //   z-index: 1;
    // }
    // &::before{
    //   content: url(../images/sec1/leafs.png);
    //   position: absolute;
    //   bottom: -7vh;
    //   left: 7vw;
    //   z-index: 1;
    // }
}
.content-common{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.main{  
  flex: 1;
  width: 50%;
}
.main__subtitle{
  color: $white;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.1;
}

.bar{
  width: 50%;
  flex: 1;
}
.advantage{
  width: 50%;
  padding-bottom: 2.5rem;
}
.advantage__list{
  display: flex;
  color: $white;
  font-size: 1rem;
  font-weight: 400;
}
.advantage__item{
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin-right: 2.5rem;
   &:last-child{
      margin-right: 0;
    }
}
.advantage__img{
  height: 41px;
  flex-shrink: 0;
  margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
}