.section-team{
  
    &::before{
      content: '';
      width: 8.4375rem;
      height: 7rem;
      background-image: url(../images/sec4/blueberries.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: -4vw;
      right: 1vw;
      z-index: 1;
    }
    &::after{
      content: '';
      background-image: url(../images/sec4/raspberry.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 6.5rem;
      height: 7.125rem;
      bottom: -3vw;
      left: 3vw;
      z-index: 3;
    }
}
.team{
  display: flex;
  justify-content: space-between;
}
.team__common{
  position: relative;
  width: 100%;
  margin-right: 1.25rem;
  text-align: center;
    &:last-child{
      margin-right: 0;  
    }      
}
.team__common--active{
    .team__title-down{
      transform: rotate(180deg);
    }
    .team__hiden{
      display: block;}
  
}
.team__foto{
  margin-bottom: 1.625rem;
}
.team__foto-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__title{
  color: $light-black;
  font-size: 1.3125rem;
  font-weight: 500;
  margin-bottom: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__title-name{
  margin-right: 0.4375rem;
}
.team__title-down{
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $green;
}
.team__hiden{
  display: none; 
  position: absolute;
  z-index: 5;
}

.team__hiden-title{
  color: $light-black;
  font-size: $font-size;
  font-weight: 400;
  margin-bottom: 0.3125rem;
}
.team__hiden-text{
  color: $grey;
  font-size: $font-size;
  font-weight: 300;
  max-height: 6.25rem;
  overflow-y: auto;
}
