.section-main{
  background-color: #61c4d9;
  background-image: url(../images/sec1/section-background.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;  
    &::after{
      content: '';
      width: 28.75rem;
      height: 21.3125rem;
      background-image: url(../images/sec1/berrys-leafs.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -2vw;
      left: 54vw;
      z-index: 1;
    }
    &::before{
      content: '';
      width: 59px;
      height: 112px;
      background-image: url(../images/sec1/leaf_left.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -4vw;
      left: 6vw;
      z-index: 1;
    }
}
.content-common{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.center--main{
   top: calc(50% - 3.75rem);  
}
.main{  
  width: 50%;
  position: relative;    
}
.main__subtitle{
  color: $white;
  font-size: 1.3125rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
  line-height: 1.1;
}
.advantage__list{
  display: flex;
  color: $white;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
.advantage__item{
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin-right: 2.5rem;
   &:last-child{
      margin-right: 0;
    }
}
.advantage__img{
  height: 2.5625rem;
  flex-shrink: 0;
  margin-right: 0.625rem;
    &:last-child{
      margin-right: 0;
    }
}
.button-main{
  margin-bottom: 5vmin;
}