.section-team{
  background-image: url(../images/sec4/leaf_pattern.png);
  background-repeat: no-repeat;
  background-position: right top;
    &::before{
      content: url(../images/sec4/blueberries.png);
      position: absolute;
      width: 8.4375rem;
      height: 7rem;
      top: -1.875rem;
      right: 0;
      z-index: 1;
    }
    &::after{
      content: url(../images/sec4/raspberry.png);
      position: absolute;
      width: 6.5rem;
      height: 7.125rem;
      bottom: -3.75rem;
      left: 3.75rem;
      z-index: 1;
    }
}
.team{
  display: flex;
  justify-content: space-between;
}
.team__common{
  width: 100%;
  margin-right: 1.25rem;
  text-align: center;
    &:last-child{
      margin-right: 0;  
    }      
}
.team__foto{
  margin-bottom: 1.625rem;
}
.team__foto-img{
  width: 100%;
}
.team__title{
  color: $light-black;
  font-size: 1.3125rem;
  font-weight: 500;
  margin-bottom: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__title-name{
  margin-right: 0.4375rem;
}
.team__title-down{
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $green;

    &.active{
      display: none;
    }
}
.team__title-up{
  display: none;
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $green;

    &.active{
      display: block;
    }
}
.team__hiden{
  display: none; 

    &.active{
      display: block;
    } 
}
.team__hiden-title{
  color: $light-black;
  font-size: $font-size;
  font-weight: 400;
  margin-bottom: 0.3125rem;
}
.team__hiden-text{
  color: $grey;
  font-size: $font-size;
  font-weight: 300;
  max-height: 6.25rem;
  overflow-y: auto;
}
