.section-menu{
  background-image: url(../images/sec5/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

    &:after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: rgba(0, 0, 0, .3);
      z-index: 1;
    }
}
.title--menu{
  position: absolute;
  top: 7vw;
  left: 5vw;
  z-index: 2;
}

.accordeon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex; 
  overflow: hidden;
  z-index: 2;
}
.accordeon__section{
  display: flex;
  position: relative;
  align-items: stretch;
  transition: all .5s;

    &.active .accordeon__content{
      width: 26.875rem;
    }
}
.accordeon__title{  
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center 0; 
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500;
  white-space: nowrap;
  min-width: 6.25rem;
  position: relative;
  z-index: 2;
  cursor: pointer;

    &:after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: rgba(0, 0, 0, .8);
      z-index: 1;
    }
    &:visited{
    color: $white;
    }
}
  
.accordeon__title-text{
  position: absolute;
  transform: rotate(-90deg);
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 2;
}
.accordeon__content{
  width: 0;
  transition: width 0.5s;
  overflow: hidden;
  
}
.accordeon__content-text{
  background-color: #2f3234;
  opacity: 0.93;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 4.0625rem 1.875rem 1.875rem;
  height: 100%;
  position: relative;
}
.accordeon__content-close{
  position: absolute;
  top: 3%; 
  right: 3%; 
  cursor: pointer;

    &:hover path{
      opacity: 1;
    }
}