.section-why{
  background-image: url(../images/sec2/leaf_pattern.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.title__inner{
  color: $grey;
  font-family: $font;
  font-size: $font-size;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  padding-top: 0.625rem;
  max-width: 26.25rem;
  margin: 0 auto;
}
.why{
  display: flex;
  text-align: center;
}
.why__item{
  position: relative;
  margin-right: 3.75rem;
    &:last-child{
      margin-right: 0;
    }
    &::before{
      position: absolute;
      content: url(../images/sec2/before_ico.svg);
      top: 20%;
      left: 100%;
    }
}
.why__item:last-child::before{
  content: '';
  display: none;
}
.why__icon{
  display: inline-block;
  width: 7.8125rem;
  height: 7.8125rem;
  background-color: #f2f5f4;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 2.1875rem;    
}
.why__icon--men{
  background-image: url(../images/sec2/icon_men.svg);
  background-size: 66px;
}
.why__icon--smile{
  background-image: url(../images/sec2/icon_smile.svg);
  background-size: 70px;
}
.why__icon--hand{
  background-image: url(../images/sec2/icon_hand.svg);
  background-size: 75px;
}
.why__title-inner{
  color: $black;
  font-size: 1.6875rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
}
.why__text{
  color: $grey;
  font-size: $font-size;
  font-weight: 300;
}