header.header
  nav.nav
    a.logo(href="index.html")
      img(src="./images/logo.png", alt="chocco")
    ul.menu
      li.menu__item
        a.menu__link(href="#sec2") О нас                  
      li.menu__item
        a.menu__link(href="#sec3") Батончики 
      li.menu__item
        a.menu__link(href="#sec4") Команда
      li.menu__item
        a.menu__link(href="#sec5") Меню
      li.menu__item
        a.menu__link(href="#sec6") Отзывы 
      li.menu__item
        a.menu__link(href="#sec7") Как мы работаем
      li.menu__item
        a.menu__link(href="#sec9") Контакты
    .number
      a.number__link(href="tel:88009039090") 8 800 903 90 90
    a.burger(href="#")
      img(src="./images/burger-ico.svg", alt="menu")