.mobile-menu
  a.close(href="#")
    img(src="./images/close-ico.svg", alt="menu")
  ul.mobile-menu__list
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec2") О нас                  
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec3") Батончики 
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec4") Команда
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec5") Меню
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec6") Отзывы 
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec7") Как мы работаем
    li.mobile-menu__item
      a.mobile-menu__link(href="#sec8") Контакты