ul.pagination#mainPagination
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")
  //- li.pagination__item
  //-   a.pagination__link(href="#")