ul.pagination
  li.pagination__item.pagination__item--active
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")
  li.pagination__item
    a.pagination__link(href="#")