section.section.section-work#sec7
  .container
    .center.center--work
      h2.title Как мы работаем
      .work
        .work__content
          video.work__video(src="./images/sec7/clams.mp4" width="660" height="370" preload="none" poster="./images/sec7/poster.jpg" loop muted controls)#video-player
            source(src="video.mp4" type="video/mp4")
        //- .work__content
        //-   .work__elements
        //-     .work__elements-play
        //-     .work__elements-progress
        //-       input(type="range")
        //-     .work__elements-volume
        //-       .volume-ico
        //-       input(type="range")