section.section.section-team#sec4
  .container.container--team
    .center
      h2.title Команда
      .team
        .team__common.team__common--active
          .team__foto
            img.team__foto-img(src="./images/sec4/ava1.jpg", alt="Оператор")
          a(href="#").team__title 
            p.team__title-name Борис Федорович
            p.team__title-down
          .team__hiden
            .team__hiden-title Оператор
            .team__hiden-text С радостью поможет подобрать батончики и оформить заказ.  С радостью поможет подобрать батончики и оформить заказ.  С радостью поможет подобрать батончики и оформить заказ. 
        .team__common
          .team__foto
            img.team__foto-img(src="./images/sec4/ava2.jpg", alt="Директор по закупкам")
          a(href="#").team__title
            p.team__title-name Алла Иванова
            p.team__title-down
          .team__hiden
            .team__hiden-title Директор по закупкам
            .team__hiden-text С радостью поможет подобрать батончики и оформить заказ.
        .team__common
          .team__foto
            img.team__foto-img(src="./images/sec4/ava3.jpg", alt="Маркетолог")
          a(href="#").team__title
            p.team__title-name Кирилл Матросов
            p.team__title-down
          .team__hiden
            .team__hiden-title Маркетолог
            .team__hiden-text Работа маркетолога - это всегда интересно и креативно. 
        .team__common
          .team__foto
            img.team__foto-img(src="./images/sec4/ava4.jpg", alt="Менеджер")
          a(href="#").team__title
            p.team__title-name Мила Рыжкова
            p.team__title-down
          .team__hiden
            .team__hiden-title Ведущий менеджер отдела закупок и логистики
            .team__hiden-text С радостью поможет подобрать батончики и оформить заказ.