section.section.section-comment#sec6
  .container
    h2.title Отзывы
    .comment
      .comment__content-main
        img.comment__avatar(src="/images/sec6/ava1.png", alt="avatar")
        .comment__content
          .comment__content-title Лучший перекус
          .comment__content-text Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно и&nbsp;удобно. 
          .comment__content-name Алёна Хмельницкая
      .comment__switch
        a.comment__switch-link.comment__switch-link--active(href="#")
          img(src="/images/sec6/ava1.png", alt="avatar")
        a.comment__switch-link(href="#")
          img(src="/images/sec6/ava2.png", alt="avatar")
        a.comment__switch-link(href="#")
          img(src="/images/sec6/ava3.png", alt="avatar")