section.section.section-form#sec8
  .container
    .center.center--form
      h2.title.title--form Закажите доставку
      form.form(action="")#orderForm
        .form__column
          .form__row
            label.form__label(for="")
              span.form__subtitle Имя
              input.form__input(type="text" name='username' placeholder='Ольга' required="required")
            label.form__label(for="")
              span.form__subtitle Телефон
              input.form__input(type="tel" name='phone' placeholder='89022348912' required="required")
          .form__row
            label.form__label(for="")
              span.form__subtitle Улица
              input.form__input(type="text" required="required")
          .form__row
            label.form__label(for="")
              span.form__subtitle Дом
              input.form__input(type="text" required="required")
            label.form__label(for="")
              span.form__subtitle Корпус
              input.form__input(type="text" required="required")
            label.form__label(for="")
              span.form__subtitle Квартира
              input.form__input(type="text" required="required")
            label.form__label(for="")
              span.form__subtitle Этаж
              input.form__input(type="text" required="required")
        .form__column
          .form__row
            label.form__label(for="")
              span.form__subtitle Комментарий
              textarea(name='comment').form__textarea.form__input
          .form__row-mb
            
              label.form__radio-label(for="change")
                input.form__radio-input(type="radio" name='pay')#change
                span.form__radio-custom
                span.form__subtitle Потребуется сдача
            
              label.form__radio-label(for="pay")
                input.form__radio-input(type="radio" name='pay' checked)#pay
                span.form__radio-custom
                span.form__subtitle Оплата по карте
            
              label.form__chec-label(for="chec")
                input.form__chec-input(type="checkbox" checked)#chec
                span.form__chec-custom
                span.form__subtitle Не перезванивать
          .form__button
            button.button.button--submit#submitBtn(type='submit' name="submit") Заказать
            button.button.button--reset(type='reset' name="reset") Очистить
