section.section.section-menu#sec5
  h2.title.title--menu Меню
  ul.accordeon
    li.accordeon__section.active
      .accordeon__title(style="background-image: url(./images/sec5/milk.jpg)")
        h3.accordeon__title-text Батончики с молоком
      .accordeon__content
        p.accordeon__content-text Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы.
    li.accordeon__section
      .accordeon__title(style="background-image: url(./images/sec5/fruit.jpg)")
        h3.accordeon__title-text С мёдом и фруктами
      .accordeon__content
        p.accordeon__content-text Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
    li.accordeon__section
      .accordeon__title(style="background-image: url(./images/sec5/berry.jpg)")
        h3.accordeon__title-text Дикие ягоды
      .accordeon__content
        p.accordeon__content-text Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
