section.section.section-main
  include _header
  include _pagination
  .section-center.section-center--header
    .main
      h1.title.title--main натуральные шоколадные батончики
      p.main__subtitle Наши батончики идеально подходят для <br/> тех, кто следит за своим здоровьем
      button.button.button--main(type='button') Заказать
      ul.main__list
        li.main__item.main__item--leaf 100% натуральный продукт
        li.main__item.main__item--car 3-5 дней доставка по&nbsp;РФ
        li.main__item.main__item--metre Не&nbsp;портит фигуру 