section.section.section-menu#sec5
  h2.title.title--menu Меню
  ul.accordeon#menuAcco
    li.accordeon__section
      a(href="#" style="background-image: url(./images/sec5/milk.jpg)").accordeon__title
        h3.accordeon__title-text Батончики с молоком
      .accordeon__content
        p.accordeon__content-text Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы.
          <svg class="accordeon__content-close" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path fill="#fff" d="M17.485 3.34l-5.657 5.658 5.657 5.657a2 2 0 0 1-2.828 2.829L9 11.826l-5.657 5.658a2 2 0 0 1-2.828-2.83l5.657-5.656L.515 3.34A2 2 0 1 1 3.343.513L9 6.17 14.657.513a2 2 0 1 1 2.828 2.828z" opacity=".7"/></svg>
    li.accordeon__section
      a(href="#" style="background-image: url(./images/sec5/fruit.jpg)").accordeon__title
        h3.accordeon__title-text С мёдом и фруктами
      .accordeon__content
        p.accordeon__content-text Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
          <svg class="accordeon__content-close" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path fill="#fff" d="M17.485 3.34l-5.657 5.658 5.657 5.657a2 2 0 0 1-2.828 2.829L9 11.826l-5.657 5.658a2 2 0 0 1-2.828-2.83l5.657-5.656L.515 3.34A2 2 0 1 1 3.343.513L9 6.17 14.657.513a2 2 0 1 1 2.828 2.828z" opacity=".7"/></svg>
    li.accordeon__section
      a(href="#" style="background-image: url(./images/sec5/berry.jpg)").accordeon__title
        h3.accordeon__title-text Дикие ягоды
      .accordeon__content
        p.accordeon__content-text Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
          <svg class="accordeon__content-close" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path fill="#fff" d="M17.485 3.34l-5.657 5.658 5.657 5.657a2 2 0 0 1-2.828 2.829L9 11.826l-5.657 5.658a2 2 0 0 1-2.828-2.83l5.657-5.656L.515 3.34A2 2 0 1 1 3.343.513L9 6.17 14.657.513a2 2 0 1 1 2.828 2.828z" opacity=".7"/></svg>