section.section.section-why#sec2
  .container.container--why
    .center
      h2.title почему chocco?
        p.title__inner В нашем мире все происходит очень быстро, поэтому мы делаем батончики, которые удобно взять с собой.
      ul.why
        li.why__item
          .why__icon.why__icon--men
          .why__content
            .why__title-inner Полезно
            .why__text Натуральность - ключевое качество нашей продукции. Мы используем только природные ингредиенты.
        li.why__item
          .why__icon.why__icon--smile
          .why__content
            .why__title-inner Вкусно
            .why__text Нежный, ненавязчивый, изысканный&nbsp;– так клиенты описывают вкусовые  качества наших батончиков.
        li.why__item
          .why__icon.why__icon--hand
          .why__content
            .why__title-inner Питательно
            .why__text Высокое содержание качественного белка, а также всех необходимых  витаминов и минералов. 