section.section.section-slider#sec3
  .container
    .center
      .slider-box 
        ul.slider
          li.slider__item
            .slider__right
              .slider__img
                img(src="./images/sec3/bar_1.png", alt="bar")
            .slider__left
              .slider__ingredients
              h2.slider__title Батончик “Морские водоросли”
              p.slider__subtitle Гранола из морских водорослей с овсом, миндалем и тыквенными семечками. В состав также входят: сухое молоко, заменитель сахара и какао бобы.
              .clider__calories
                .clider__calories-right
                  p Калорийность
                  p 120 ккал
                .clider__calories-left
                  p Вес
                  p 98 грамм
              .slider__price
                p 140 ₽
                a(href="#").button.button--submit Заказать
          //- li.slider__item
          //-   .slider__right
          //-     .slider__img
          //-       img(src="./images/sec3/bar_1.png", alt="bar")
          //-   .slider__left
          //-     .slider__ingredients
          //-     h2.slider__title Батончик “Морские водоросли”
          //-     p.slider__subtitle Гранола из морских водорослей с овсом, миндалем и тыквенными семечками. В состав также входят: сухое молоко, заменитель сахара и какао бобы.
          //-     .clider__calories
          //-       .clider__calories-right
          //-         p Калорийность
          //-         p 120 ккал
          //-       .clider__calories-left
          //-         p Вес
          //-         p 98 грамм
          //-     .slider__price
          //-       p 140 ₽
          //-       a(href="#").button.button--submit Заказать