section.section.section-team#sec4
  .container.container--team
    .center
      h2.title Команда
      ul.team
        li.team__common.team__common--active
          .team__foto
            img.team__foto-img(src="./images/sec4/ava1.jpg", alt="Главный технолог")
          .team__title 
            p.team__title-name Борис Федорович
            p.team__title-down
          .team__hiden
            .team__hiden-title Главный технолог
            .team__hiden-text Отвечает за вкусовые качества и калорийность.
        li.team__common
          .team__foto
            img.team__foto-img(src="./images/sec4/ava2.jpg", alt="Специалист по упаковке")
          .team__title
            p.team__title-name Алла Иванова
            p.team__title-down
          .team__hiden
            .team__hiden-title Специалист по упаковке
            .team__hiden-text Автор запоминающегося стиля наших батончиков.
        li.team__common
          .team__foto
            img.team__foto-img(src="./images/sec4/ava3.jpg", alt="Оператор")
          .team__title
            p.team__title-name Кирилл Матросов
            p.team__title-down
          .team__hiden
            .team__hiden-title Оператор
            .team__hiden-text С радостью поможет подобрать батончики и оформить заказ. 
        li.team__common
          .team__foto
            img.team__foto-img(src="./images/sec4/ava4.jpg", alt="маркетинг")
          .team__title
            p.team__title-name Мила Рыжкова
            p.team__title-down
          .team__hiden
            .team__hiden-title PR, маркетинг
            .team__hiden-text По всем вопросам сотрудничества и рекламы писать только Миле. 
